<div class="addBlock">
  {{#if textOk}}
    <button class={{classOk}} onClick={{actionOk}}>{{textOk}}</button>
  {{/if}}
  {{#if textCancel}}
    <button class={{classCancel}} onClick={{actionCancel}}>{{textCancel}}</button>
  {{/if}}
</div>