<div class="imgBox">
  <img src={{this.item.img}} alt="">
</div>
<div class="descriptionBox">
  <div class="itemMain">
    <h6 class="itemName">{{this.item.name}}</h6>
    <p class="itemInfo">price: <span>{{category-price-callories-calculator this.item 'price'}}$</span></p>
    <p class="itemInfo">calories: <span>{{category-price-callories-calculator this.item 'calories'}} kcal</span></p>
  </div>
  <div class="itemDescription">
    <h6 class="itemName">Description</h6>
    <p class="itemInfo">{{this.item.description}}</p>
  </div>
</div>
<div class="clear" />