{{#if this.pizza.isExist }}
  <p>{{this.pizza.params.size}} pizza contains from stuffing:</p>
  <ul>
    {{#each this.pizza.params.stuffing as |stuffing|}}
      <li>{{stuffing}}</li>
    {{/each}}
  </ul>
  <p>and topping:</p>
  <ul>
    {{#each this.pizza.params.topping as |topping|}}
      <li>{{topping}}</li>
    {{/each}}
  </ul>
  <button class="button" onClick={{action "resetPizzaParams"}}>Order Complete</button>
{{else}}
  <h3>Create new pizza</h3>
  {{#each categories as |category|}}
    <RadioParams @category={{category}} @toggleRadioInput={{action "toggleRadioInput"}}/>
  {{/each}}
  <input type="submit" class="button" onClick={{action "toggleButtonCreate"}} value="create pizza">
{{/if}}
{{#if this.error }}
  <ModalMessage @close={{action "closeError"}} @message={{this.error}}/>
{{/if}}
<p>Prise: {{this.pizza.price}}$</p>
<p>Calories: {{this.pizza.calories}}kcal</p>
