{{#if pizza.exist }}
  <p>{{pizza.size}} pizza contains from stuffing:</p>
  <ul>
    {{#each pizza.stuffing as |stuffing|}}
      <li>{{stuffing}}</li>
    {{/each}}
  </ul>
  <p>and topping:</p>
  <ul>
    {{#each pizza.topping as |topping|}}
      <li>{{topping}}</li>
    {{/each}}
  </ul>
  <button class="button" onClick={{action "resetPizzaParams"}}>Order Complete</button>
{{else}}
  <h3>Create new pizza</h3>
  {{#each categories as |category|}}
    <RadioParams @category={{category}} @toggleRadioInput={{action "toggleRadioInput"}} @toggleCheckboxInput={{action "toggleCheckboxInput"}} @pizza={{pizza}} />
  {{/each}}
  <input type="submit" class="button" onClick={{action "toggleButtonCreate"}} value="create pizza">
{{/if}}
{{#if this.error }}
  <ModalMessage @close={{action "closeError"}} @message={{this.error}}/>
{{/if}}
<p>Price: {{pizza.price}}$</p>
<p>Calories: {{pizza.calories}}kcal</p>
