{{#if pizza.exist }}
  <p>You coocking pizza</p>
  <p><strong>Size:</strong> {{pizza.size}}</p>
  <p><strong>Stuffing:</strong> {{pizza.stuffing}}</p>
  <p><strong>Topping:</strong> {{pizza.topping}}</p>
  <p>If you want change composition of your pizza, you can see ingredients <strong>{{#link-to "ingredients" class="linkHere"}}here!{{/link-to}}</strong></p>
  <button class="button" onClick={{action "resetPizzaParams"}}>Pizza Complete</button>
{{else}}
  <h3>Create new pizza</h3>
  {{#each categories as |category|}}
    <RadioParams @category={{category}} @toggleRadioInput={{action "toggleRadioInput"}} @toggleCheckboxInput={{action "toggleCheckboxInput"}} @pizza={{pizza}} />
  {{/each}}
  <input type="submit" class="button" onClick={{action "toggleButtonCreate"}} value="create pizza">
{{/if}}
{{#if this.error }}
  <ModalMessage @close={{action "closeError"}} @message={{this.error}}/>
{{/if}}
<p>Price: {{pizza.price}}$</p>
<p>Calories: {{pizza.calories}}kcal</p>
