<p>
  {{category.name}}:
  {{#each category.items as |product|}}
    {{#if (equal category.name "size")}}
      <input type="radio" checked={{equal pizza.size product.name}} name={{category.name}} class="radio" price={{product.price}} calories={{product.calories}} value={{product.name}} onClick={{toggleRadioInput}}>
      <label class="radioLabel" for={{product.id}}>{{product.name}}</label>
    {{else}}
      <input type="checkbox" name={{category.name}} class="radio" price={{product.price}} calories={{product.calories}} value={{product.name}} onClick={{toggleCheckboxInput}} checked={{is-in-array (get pizza category.name) product.name}} >
      <label class="radioLabel" for={{product.id}}>{{product.name}}</label>
    {{/if}}
  {{/each}}
</p>