<p>
  {{category.name}}:
  {{#each category.items as |product|}}
    <input type="radio" name={{category.name}} class="radio" price={{product.price}} calories={{product.calories}} value={{product.name}} id={{product.id}} onClick={{toggleRadioInput}}> <label class="radioLabel" for={{product.id}}>{{product.name}}</label>
  {{/each}}
</p>