<div class="container">
  {{outlet}}
</div>
<footer>
  {{#let (get this.model "lastObject") as |pizza|}}
    {{#if (get pizza "exist")}}
      <div class="pizzaContains">
        <p>Pizza is cooked.</p>
        <p>Size: {{get pizza "size"}}</p>
        <p>Stuffing: {{get pizza "stuffing"}}</p>
        <p>Topping: {{get pizza "topping"}}</p>
        <p>Price: {{get pizza "price"}}$</p>
        <p>Calories: {{get pizza "calories"}}kcal</p>
      </div>
    {{/if}}
  {{/let}}
</footer>